*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: blue;
}

body {
    background-color: rgb(105, 182, 17);
    height: 100vh;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
}

.square {
    aspect-ratio: 1/1;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg-lightblue {
    background-color: aqua;
}

.section-campo {
    padding: 10px;
}

.play-btn {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    color: rgb(35, 5, 123);
    font-weight: bolder;
}